* {
  color: rgb(22, 19, 19);
}
/* #region selectors */
/*   * стилізує всі елементи на сторінці, часто використовується для "обнуления" */
.weight {
  width: 500px;
}
/* Групповые селектора- стилизуются все элемменты */
h1, h2 {
  font-weight: bold;
  color: brown;
}
/* Селектор потомок-стили будут применены к последнму (дочерниму) елементу этой цепочки */
ul li code {
  color:blue
}
/* Селектор прямого потомка-стили будут применены к span (дочерниму)  */
ul li > span {
  font-weight: bold;
}
/* Соседний или следующий селектор-стили будут применены к следующему селектору после указанного */

ul li + li {
  text-decoration: underline coral 1px ;
}
 /* Следующий елеммент - похож, но разделяеться тильдой (~) */

 br ~ h3 {
  color: rgb(14, 240, 210);
}
/* Селектор атрибута - cначала пишем тег, к которому относится атрибуте, затем атрибут в [] cкобках*/
a[target] {
  background-color: rgb(245, 205, 191);
}
/* Разновидности селектора атрибута */
a[target="_blank"] {
    text-decoration: none;}

    /* Cтилизоваться будуть ссылки которые начинаются на "http: //123" */
    a[href^="http://123"] {
      background-color: aqua;
    }
/* При указании знака $ строка атрибута будет проверяться с конца */
    a[href$=".jpg"] {
      background-color: teal;
    }
/* Если поставить звездочку,строка будет проверяться на наличие символов */
    a[href*="link"] {
      background-color: rebeccapurple;
    }
    /* #endregion */
    