@import"normalize.css"
* {
  color: rgb(22, 19, 19);
}
/* #region selectors */
/*   * стилізує всі елементи на сторінці, часто використовується для "обнуления" */
.weight {
  width: 500px;
}
/* Групповые селектора- стилизуются все элемменты */
h1, h2 {
  font-weight: bold;
  color: brown;
}
/* Селектор потомок-стили будут применены к последнму (дочерниму) елементу этой цепочки */
ul li code {
  color:blue
}
/* Селектор прямого потомка-стили будут применены к span (дочерниму)  */
ul li > span {
  font-weight: bold;
}
/* Соседний или следующий селектор-стили будут применены к следующему селектору после указанного */

/* ul li + li {
  text-decoration: underline coral 1px ;
} */
 /* Следующий елеммент - похож, но разделяеться тильдой (~) */

 br ~ h3 {
  color: rgb(14, 240, 210);
}
/* Селектор атрибута - cначала пишем тег, к которому относится атрибуте, затем атрибут в [] cкобках*/
a[target] {
  background-color: rgb(245, 205, 191);
}
/* Разновидности селектора атрибута */
a[target="_blank"] {
    text-decoration: none;}

    /* Cтилизоваться будуть ссылки которые начинаются на "http: //123" */
    a[href^="http://123"] {
      background-color: aqua;
    }
/* При указании знака $ строка атрибута будет проверяться с конца */
    a[href$=".jpg"] {
      background-color: teal;
    }
/* Если поставить звездочку,строка будет проверяться на наличие символов */
    a[href*="link"] {
      background-color: rebeccapurple;
    }
    /* #endregion */

    /* Псевдоклассы */
     a.link {
      color:black;
      text-decoration: none;
      background-color:lightblue;
    }
       a:visited {
         color: rgb(26, 129, 5);
       }
    a:hover {
      color: tomato;
    }
    a:active {
      color: lightseagreen;
    }
    a:focus {
      font-weight: bold;
    } 
    /* Псевдоелементы- используются для стилизации фрагментов текста */
    /*p::first-letter {
      font-size: 40px; ;
    }
    p::first-line {
      text-decoration: underline;
    }*/
    p::selection {
      background-color: lime;
    }

    h4::before{
    content:"Частоиспользованые ";
    color: rgb(224, 77, 77);
    }
    h4::after {
      content: " !!!";
      color: mediumvioletred;
    }
 /* Псевдоелементы, */
 /* которые часто используются со списками */
li.list1:first-child {
  color: blue;
}
.list1:last-child {
  color: brown;
}

/* Стилизация четных(even) и нечетных (odd) еле-ов */
li.list2:nth-child(even) {
color: rgb(26, 23, 219);
}
li.list2:nth-child(odd) {
  color: rgb(46, 219, 23);
}
li.list1:nth-child(2) {
  color: rgb(219, 23, 65);}

  /* Если нужно добавить каждому третьему (3n), второму(2n) и тд. элементу начиная с первого */
li.list3:nth-child(2n){
  border: lightsalmon 1px dotted;
}
/* Отсчет идет не с первого элемента, а от первого! */
li.list2:nth-child(2n + 1) {
  border: lightsalmon 1px dotted;
}

/* Селектора для типов дочерних элементов */

.text span:first-of-type {
  color: red;
}

.text span:last-of-type {
  color: green;
}

.text span:nth-of-type(2) {
  border: 1px solid black;
}
/* Ниже показано как стилизовать элементы, кроме указанного, в примере класс .item */
.list4 li:not(.item) {
  border: 1px solid blue;
}

.title {
  font-size: large;
  color: rgb(223, 12, 82);
  
}
 .position {
   position: relative;
 }

.test {
   width: 55px;
  height: 30px;
  border: 3px solid blue;
  text-align: center;
  position: relative;
  top: 20px;
  left: 100px;
}
.name {
  background-color: cornsilk;
  overflow: ;
  
}

.img_size {
  width: 700px;
}
.wrapper {
  background-color: rgb(202, 146, 61);
  padding: 20px;
}

.wrapper::after {
  content:'' ;
  display: block;
  clear: both;
}
.wrapper2 {
  background-color: rgb(127, 133, 125);
}
.float1 {
  background-color: cornsilk;
   float: left;
   width: 150px;
}
.float2 {
  background-color: rgb(90, 202, 124);
  float: left;
  width: 150px;
}
.float3 {
  background-color: rgb(113, 111, 235);
   float: left;
   width: 150px;
}